.message-submit-input {
  width: 100%;
  padding: 20px;
  height: 150px;
}

.message-submit-button {
  margin-top: 10px;
}

md-toast {
  z-index: 10001;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 300px;
}
