  <div>
    <form name="messageInputForm" id="messageInputForm" ng-submit="createMessage()">
      <md-input-container class="md-whiteframe-2dp message-submit-input">
        <label>Message</label>
        <input ng-model="input.message" name="inputmsg" required md-maxlength="160">
        <div ng-messages="messageInputForm.inputmsg.$error">
          <div ng-message="required">This is required</div>
          <div ng-message="md-maxlength">The message must be less than 160 characters long</div>
        </div>
        <div class="message-submit-button">
          <center>
            <md-button type="submit" class="md-raised md-primary">Submit Message</md-button>
          </center>
        </div>
      </md-input-container>
    </form>
  </div>
