.main-toolbar-display-large {
  display: flex;
}

.main-toolbar-display-small {
  display: none;
}

@media screen and (max-width: 500px) {
  .main-toolbar-display-large {
    display: none;
  }
  
  .main-toolbar-display-small {
    display: flex;
  }
}

.md-open-menu-container {
  z-index: 10000;
}

.main-toolbar-space-right {
  margin-right: 10px;
}

.main-toolbar-icon {
  margin: auto 3px auto 0;
  color: #cccccc;
}
