<div ng-controller="logoutController">
  <!-- Large menu bar -->
  <md-toolbar class="navbar navbar-fixed-top" style="z-index:1" md-whiteframe="4">
    <div class="md-toolbar-tools main-toolbar-display-large">
      <a ui-sref="home" class="main-toolbar-space-right">
        <i class="fa fa-snowflake-o"></i>
      </a>
      <a ui-sref="home">
        <h1>Palindrome Audition</h1>
      </a>
      <span flex></span>
      <md-button aria-label="Log In/Out" ng-click="logout()">
        {{isLoggedIn ? 'Logout' : 'Login'}}
      </md-button>
      <a ng-if="!isLoggedIn" ui-sref="register">
        <md-button aria-label="Register">
          Register
        </md-button>
      </a>
    </div>

    <!-- Small Menu bar -->
    <div class="md-toolbar-tools main-toolbar-display-small">
      <a ui-sref="home">
        <i class="fa fa-snowflake-o"></i>
          <md-tooltip md-direction="bottom">
            Palindrome Audition
          </md-tooltip>
      </a>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Log In/Out" ng-click="logout()">
        <i class="fa" ng-class="{'fa-sign-in': !isLoggedIn, 'fa-sign-out': isLoggedIn}"></i>
          <md-tooltip md-direction="bottom">
            {{isLoggedIn ? 'Logout' : 'Login'}}
          </md-tooltip>
      </md-button>
      <a ng-if="!isLoggedIn" ui-sref="register">
        <md-button class="md-icon-button" aria-label="Register">
          <span><i class="fa fa-user-plus"></i></span>
          <md-tooltip md-direction="bottom">
            Register
          </md-tooltip>
        </md-button>
      </a>
      <md-menu md-position-mode="target-right target">
        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <i class="fa fa-bars"></i>
          <md-tooltip md-direction="bottom">
            More
          </md-tooltip>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ui-sref="list">
              <div layout="row" flex>
                <p flex>Posts</p>
                <i class="fa fa-list-ol main-toolbar-icon"></i>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

  </md-toolbar>
</div>
