<div layout="column" style="margin-top: 80px; padding: 0 20px;">

  <message-submit ng-if="userid"></message-submit>

  <h3 ng-if="!userid">Login to post!</h3>

  <br/><br/>

  <center>
   <h2>Messages</h2><span><h6>(showing {{messages.length}}/{{paging.total}})</h6></span>
  </center>

  <div>
    <md-card ng-repeat="message in messages" style="width: 100%;">
      <md-card-title style="padding: 2px 0 2px 10px">
        <md-card-title-text>
          <span class="md-headline">{{message.body}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-icon-button" aria-label="Open on Demand" ui-sref="message({id: message._id})">
          <i class="fa fa-2x fa-folder-open-o" style="color: #0099cc"></i>
          <md-tooltip md-direction="bottom">
            Open on Demand!
          </md-tooltip>
        </md-button>
        <md-button ng-if="userid === message.author" ng-click="delete($event, message)" class="md-icon-button" aria-label="Delete">
          <i class="fa fa-2x fa-trash" style="color: #ff0033"></i>
          <md-tooltip md-direction="bottom">
            Delete
          </md-tooltip>
        </md-button>
      </md-card-actions>
    </md-card>
  </div>

  <div ng-if="paging.total > messages.length">
    <center>
      <md-button ng-click="loadMore()" ng-disabled="paging.loading" class="md-raised md-primary">Load More</md-button>
    </center>
  </div>  

</div>
