<div layout="column" style="margin-top: 80px; padding: 0 20px;">

    <center>
      <h2>Message</h2>
    </center>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><b>{{message.data.body}}</b></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <center ng-if="_.isBoolean(drome.isPalindrome)">
          <h3>Palindrome? <i class="fa" ng-class="drome.isPalindrome ? 'fa-check message-green' : 'fa-times message-red'"></i></h3>
        </center>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <a ui-sref="home" style="float: left">
          <i class="fa fa-2x fa-arrow-left"></i>
          <md-tooltip md-direction="bottom">
            Back
          </md-tooltip>
        </a>
        <div flex></div>
        Written by: {{message.data.author.username}} on {{message.data.written | date : 'medium'}}
      </md-card-actions>
    </md-card>


</div>   
   
   
   
   
   
   
   
   
