<div layout="column" style="margin-top: 80px; padding: 0 20px;">
  <h2 class="md-flex">Login</h2>
  <md-content>
    <form name="rForm" ng-submit="login()">

      <md-input-container class="md-icon-float md-block">
        <label>Username</label>
        <input md-no-asterisk required maxlength="30" name="username" ng-model="loginForm.username" required>
        <div ng-messages="rForm.username.$error">
          <div ng-message="required">Username is required</div>
          <div ng-message="maxlength">The username must be less than 30 characters long</div>
        </div>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Password</label>
        <input type="password" minlength="6" name="password" ng-model="loginForm.password" required>
        <div ng-messages="rForm.password.$error">
          <div ng-message="required">Password is required</div>
          <div ng-message="minlength">Minimum password length is 6 characters</div>
        </div>
      </md-input-container>

      <section layout="row">
        <md-button type="submit" ng-disabled="disabled" class="md-raised md-primary">Login</md-button>
      </section>

    </form>
  </md-content>
</div>
