<div layout="column" style="margin-top: 80px; padding: 0 20px;">
  <h2 class="md-flex">Register</h2>
  <md-content>
    <form name="rForm" ng-submit="register()">

      <md-input-container class="md-icon-float md-block">
        <label>Username</label>
        <input md-no-asterisk required maxlength="30" name="username" ng-model="registerForm.username">
        <div ng-messages="rForm.username.$error">
          <div ng-message="required">Username is required</div>
          <div ng-message="maxlength">The username must be less than 30 characters long</div>
        </div>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Email</label>
        <input md-no-asterisk required type="email" name="email" ng-model="registerForm.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
         <div ng-messages="rForm.email.$error">
           <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">Your email must be between 10 to 100 characters and look like an email address</div>
        </div>
      </md-input-container>

      <md-input-container class="md-icon-float md-block">
        <label>Password</label>
        <input type="password" name="password" ng-model="registerForm.password" minlength="6" required>
        <div ng-messages="rForm.password.$error">
          <div ng-message="required">Password is required</div>
          <div ng-message="minlength">Minimum password length is 6 characters</div>
        </div>
      </md-input-container>

      <section layout="row">
        <md-button type="submit" ng-disabled="disabled" class="md-raised md-primary">Register</md-button>
      </section>

    </form>
  </md-content>
</div>
